.EditFolder {
    margin: 80px auto; 
    display: inline-block; 
    border: 1px solid #40739e;
    background-color: #40739e; 
    width: 150px; 
    height: 350px;
    border-radius: 10px; 
    height: 300px; 
    color: #fff; 
    padding-top: 10px
  }

  .EditFolder__buttons {
      margin-top: 10px; 
      padding-top: 3px; 
  }

  .EditCancel {
      margin-bottom: 10px; 
  }